.landing {
    max-width: none;
    overflow-x: hidden;
}

.main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-position: calc(100% + 103px) 106px;
    background-size: 700px;
}

.main::before {
    display: none;
}

.main::after {
    left: -190px;
    top: -100px;
}

.main__header,
.main__text {
    text-align: left;
    padding-left: 10px;
    padding-right: 100px;
}

.price-types {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: -10px;
}

.price-types__body {
    flex-direction: column;
    height: auto;
}

.standard-prices {
    flex-direction: column;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 24px;
    margin-right: 0;
}

.standard-prices__item {
    width: 100%;
}

.standard-prices__divider {
    height: 1px;
    width: 100%;
    margin: 17px 0;
}

.standard-prices::before {
    width: 12px;
    height: auto;
    right: auto;
    top: 8px;
    bottom: 8px;
    left: 8px;
}

.price-card {
    padding-bottom: 84px;
}

.price-card::before {
    top: 15px;
}

.price-card__header {
    font-size: 24px;
    margin-bottom: 21px;
}

.price-card__description {
    font-size: 14px;
    max-width: 240px;
}

.price-card__price {
    font-size: 14px;
}

.price-types__club {
    margin-right: 0;
    padding-left: 44px;
    padding-right: 44px;
}

.price-types__club::before {
    height: 301px;
    top: 0;
    left: 8px;
    bottom: 0;
    right: auto;
    width: 12px;
    margin: auto;
    background-image: url(../img/lines-vertival.svg);
    background-position: left top;
}

.price-types__club,
.price-types__want-cheaper {
    height: 344px;
    margin-bottom: 24px;
    padding-top: 68px;
}

.price-types__club .price-card__footer, 
.price-types__want-cheaper .price-card__footer {
    left: 44px;
    right: 44px;
    bottom: 47px;
}

.price-card__details {
    font-size: 14px;
    width: 80px;
    bottom: 137px;
}