.landing {
    max-width: none;
    overflow-x: hidden;
}

.main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-position: calc(100% + 103px) 106px;
    background-size: 700px;
}

.main::before {
    display: none;
}

.main::after {
    left: -190px;
    top: -100px;
}

.main__header,
.main__text {
    text-align: left;
    padding-left: 10px;
    padding-right: 100px;
}

.price-types {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: -10px;
}

.price-types__body {
    flex-direction: column;
    height: auto;
}

.standard-prices {
    flex-direction: column;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 24px;
    margin-right: 0;
}

.standard-prices__item {
    width: 100%;
}

.standard-prices__divider {
    height: 1px;
    width: 100%;
    margin: 17px 0;
}

.standard-prices::before {
    width: 12px;
    height: auto;
    right: auto;
    top: 8px;
    bottom: 8px;
    left: 8px;
}

.price-card {
    padding-bottom: 84px;
}

.price-card::before {
    top: 15px;
}

.price-card__header {
    font-size: 24px;
    margin-bottom: 21px;
}

.price-card__description {
    font-size: 14px;
    max-width: 240px;
}

.price-card__price {
    font-size: 14px;
}

.price-types__club {
    margin-right: 0;
    padding-left: 44px;
    padding-right: 44px;
}

.price-types__club::before {
    height: 301px;
    top: 0;
    left: 8px;
    bottom: 0;
    right: auto;
    width: 12px;
    margin: auto;
    background-image: url(../img/lines-vertival.svg);
    background-position: left top;
}

.price-types__club,
.price-types__want-cheaper {
    height: 360px;
    margin-bottom: 24px;
    padding-top: 82px;
}

.price-types__club .price-card__footer, 
.price-types__want-cheaper .price-card__footer {
    left: 44px;
    right: 44px;
    bottom: 47px;
}

.price-types__want-cheaper {
    background-position: center 50px;
}

.price-card__details {
    font-size: 14px;
    width: 80px;
    bottom: 137px;
}

.club-price {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
    background-position-y: 101%;
}

.club-price__main {
    flex-direction: column;
    margin-bottom: 30px;
}

.club-price__info {
    padding: 0;
    overflow: hidden;
}

.club-price__info::after {
    left: 0;
    bottom: 20px;
    top: auto;
    margin: auto;
    transform: rotate(90deg);
}

.macbook-rendered {
    display: block;
    margin: auto;
}

.club-price__header,
.club-price__text,
.club-price__conditions,
.club-price-footer,
.want-cheaper__conditions,
.want-cheaper__cards {
    padding: 0 16px;
}

.club-price__conditions {
    margin-bottom: 23px;
}

.illustration {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.club-price-footer {
    grid-template-rows: repeat(3, 168px);
    grid-template-columns: 1fr;
    height: auto;
    grid-gap: 24px;
}

.condition-card {
    font-size: 14px;
    padding-right: 35px;
}

.want-cheaper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 72px;
}

.want-cheaper__main {
    display: block;
    padding: 0;
}

.want-cheaper__header {
    margin-top: 0;
    margin-bottom: 38px;
}

.want-cheaper__text {
    font-size: 14px;
    line-height: 175%;
}

.want-cheaper__info {
    padding-bottom: 13px;
    margin-bottom: 40px;
}

.want-cheaper__info::after {
    left: 0;
    bottom: 0;
    top: auto;
    margin: auto;
    transform: rotate(90deg);
}

.want-cheaper__cards {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 168px);
    grid-gap: 24px;
}

.want-cheaper-toggle {
    max-width: calc(100% - 32px);
    margin: auto;
    padding-right: 50px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 14px;
    line-height: 27px;
}

.want-cheaper-toggle-body {
    font-size: 14px;
    line-height: 175%;
    padding-left: 42px;
    padding-right: 60px;
}