@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap&subset=cyrillic');

#content {
    background: none;
}

.landing {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    max-width: 990px;
    margin: auto;
}

.landing *,
.landing *::before,
.landing *::after {
    box-sizing: border-box;
}

.main {
    background-color: #FDC52D;
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: right -74px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    padding: 95px 20px 48px 20px;
    position: relative;
    overflow: hidden;
}

.main::before {
    content: '';
    width: 276px;
    height: 75px;
    position: absolute;
    top: -25px;
    left: 27px;
    background-image: url(../img/lines.svg);
}

.main::after {
    content: '';
    position: absolute;
    width: 333px;
    height: 501px;
    background-image: url(../img/lights.png);
    left: -45px;
    top: 50px;
}

.main__header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 19px;
    color: #000000;
    z-index: 2;
    position: relative;
}

.main__text {
    text-align: center;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 116px;
    color: #0E0D26;
    z-index: 2;
    position: relative;
}

.price-types {
    background-color: #fff;
    box-shadow: 0px 20px 30px rgba(240, 81, 35, 0.2);
    border-radius: 8px;
    text-align: center;
    padding: 23px 20px;
    position: relative;
    z-index: 1;
}

.price-types__header {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 27px;
}

.price-types__body {
    height: 275px;
    display: flex;
    justify-content: space-between;
}

.price-types__standard,
.price-types__club,
.price-types__want-cheaper {
    flex-grow: 1;
}

.price-types__standard {
    height: 100%;
    margin-right: 15px;
}

.standard-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 40px 14px 14px 14px;
}

.standard-prices::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #FDC52D;
    border-radius: 8px;
}

.standard-prices__divider {
    width: 1px;
    height: 97px;
    background: #E8E8E8;
    margin: 0 10px;
}

.standard-prices__item {
    height: 100%;
    flex-grow: 1;
}

.price-card {
    padding-top: 51px;
    padding-bottom: 47px;
    position: relative;
}

.price-card::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    right: 0;
    top: -12px;
    margin: 0 auto;
}

.price-card_standard::before {
    background-image: url(../img/icons/standard.svg);
}

.price-card_special::before {
    background-image: url(../img/icons/special.svg);
}

.price-card_base::before {
    background-image: url(../img/icons/base.svg);
}

.price-card__header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 13px;
}

.price-card__description {
    color: #4F4F4F;
    font-size: 10px;
    line-height: 175%;
    max-width: 170px;
    margin: auto;
}

.price-card__footer {
    background-color: #F8F8F8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    height: 47px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.price-card__type {
    color: #8D8D8D;
    font-weight: normal;
}

.price-card__price {
    color: #000000;
    font-weight: 900;
    white-space: nowrap;
    flex-grow: 1;
    text-align: right;
}

.price-card__price_special {
    color: #FDC52D;
}

.price-types__club,
.price-types__want-cheaper {
    padding: 91px 10px 61px;
    border-radius: 8px;
}

.price-types__club {
    margin-right: 9px;
    background-color: #fff;
}

.price-types__club .price-card__footer,
.price-types__want-cheaper .price-card__footer {
    bottom: 14px;
    right: 10px;
    left: 10px;
}

.price-types__club::before {
    margin: 0;
    top: 0;
    width: auto;
    height: 40px;
    background-image: url(../img/lines-small.svg);
    background-color: #F8F8F8;
    box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background-position: -38px bottom;
}

.price-types__want-cheaper {
    background-color: #F05123;
    background-image: url(../img/icons/want-cheaper.svg);
    background-position: center 25px;
    background-repeat: no-repeat;
}

.price-types__want-cheaper::before {
    display: none;
}

.price-types__want-cheaper .price-card__header,
.price-types__want-cheaper .price-card__description {
    color: #fff;
}

.price-card__details {
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    bottom: 88px;
    left: 0;
    right: 0;
    margin: auto;
    width: 56px;
}

.price-card__details::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background: #FDC52D;
    border-radius: 12px;
}

.price-card__details:hover,
.price-card__details:active,
.price-card__details:visited {
    color: #000000;
    text-decoration: none;
}

.price-types__want-cheaper .price-card__details {
    color: #ffffff;
}

.price-card__question {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    color: #8D8D8D;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.price-card__sale-label {
    background-color: #70AB4A;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 3px;
    font-size: 8px;
}

.club-price {
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-image: url(../img/lines.svg);
    background-position: 22px bottom;
    padding: 73px 21px 64px;
}

.club-price__main {
    display: flex;
    margin-bottom: 64px;
}

.club-price__header {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
}

.club-price__info {
    flex-grow: 1;
    padding-top: 46px;
    padding-left: 50px;
    position: relative;
}

.club-price__info::after {
    content: '';
    width: 11px;
    height: 20px;
    background-image: url(../img/icons/arrow.svg);
    position: absolute;
    right: 0;
    top: 131px;
}

.club-price__text {
    font-size: 16px;
    line-height: 175%;
    font-weight: 300;
    margin-bottom: 61px;
}

.club-price__conditions {
    color: #040404;
    font-weight: bold;
    font-size: 24px;
    line-height: 157%;
}

.club-price-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-gap: 16px;
    -ms-grid-gap: 16px;
    grid-gap: 16px;
    height: 176px;
}

.condition-card {
   background-color: #FFFFFF;; 
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
   border-radius: 8px;
   background-repeat: no-repeat;
   background-position: center 0;
   position: relative;
   display: flex;
   align-items: center;
   padding-left: 96px;
   padding-right: 10px;
   font-size: 10px;
   line-height: 175%;
   color: #4F4F4F;
}

.condition-card::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(253, 197, 45, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    margin: auto 0;
}

.condition-card::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto 0;
}

.condition-card_payment::after {
    background-image: url(../img/icons/payment.svg);
}

.condition-card_authirisation::after {
    background-image: url(../img/icons/authorisation.svg);
}

.condition-card_conditions::after {
    background-image: url(../img/icons/conditions.svg);
}

.condition-card_payment-card::after {
    background-image: url(../img/icons/payment-card.svg);
}

.condition-card_one-item::after {
    background-image: url(../img/icons/one-item.svg);
}

.condition-card_delivery::after {
    background-image: url(../img/icons/delivery.svg);
}

.want-cheaper {
    background-color: #f05123;
    padding: 0 21px 59px;
}

.want-cheaper__main {
    display: flex;
    padding: 73px 21px 64px;
}

.want-cheaper__info {
    flex-grow: 1;
    padding-left: 30px;
    position: relative;
}

.want-cheaper__header {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
}

.want-cheaper__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 46px;
    padding-right: 40px;
}

.want-cheaper__conditions {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 157%;
}

.want-cheaper__info::after {
    content: '';
    width: 11px;
    height: 20px;
    background-image: url(../img/icons/arrow-white.svg);
    position: absolute;
    right: 0;
    top: 131px;
}

.macbook {
    width: 520px;
    height: 295px;
    background-image: url(../img/macbook.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.macbook_want-cheaper {
    background-image: url(../img/macbook-want-cheaper.png);
}

.macbook__price-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: auto;
    width: 316px;
    height: 52px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 0 15px;
}


.macbook__price-type {
    font-size: 12px;
    color: #888888;
}

.macbook__question {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
}

.macbook__price {
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    color: #fdc52d;
    flex-grow: 1;
    text-align: right;
}

.macbook__sale-label {
    background-color: #70AB4A;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
    padding: 3px 7px;
}

.macbook::before {
    content: '';
    position: absolute;
    width: 103px;
    height: 13px;
    background-image: url(../img/price-on-screen.png);
    background-repeat: no-repeat;
    background-position: center center;
    top: 157px;
    right: 93px;
}

.macbook_want-cheaper::before {
    background-image: url(../img/price-on-screen-want-cheaper.png);
    top: 149px;
    right: 101px;
}

.macbook::after {
    content: "";
    position: absolute;
    top: 163px;
    right: 195px;
    width: 59px;
    height: 93px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 20px;
}

.macbook_want-cheaper::after {
    top: 155px;
    height: 101px;
}

.macbook__price-label > *:not(:last-child) {
    margin-right: 5px;
}

.want-cheaper__why {
    color: #FDC52D;
}

.want-cheaper-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    height: 176px;
}

.want-cheaper__cards {
    margin-bottom: 29px;
}

.want-cheaper-toggle {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    font-size: 16px;
    line-height: 53px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 33px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.want-cheaper-toggle::after {
    content: '';
    width: 11px;
    height: 20px;
    background-image: url(../img/icons/arrow-white.svg);
    position: absolute;
    right: 26px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    transform-origin: center;
    transition: all .3s;
}

.want-cheaper-toggle.active::after {
    transform: rotate(270deg);
}

.want-cheaper-toggle-body {
    color: #FFFFFF;
    line-height: 175%;
    font-size: 16px;
    padding-left: 33px;
    padding-right: 40px;
    padding-top: 32px;
    display: none;
}

.want-cheaper-toggle-body.active {
    display: block;
}